@import '../../../../styles/variables.scss';

.navigation {
  position: absolute;
  bottom: 17%;

  @media (max-width: 900px) {
    bottom: -20px;
    z-index: 1;
  }
}

.counter {
  color: $dark-blue-color;
  font-size: 14px;
  text-align: left;
  padding-left: 80px;

  @media (max-width: 900px) {
    padding-left: 20px;
  }
}

.arrows {
  text-align: left;
  display: flex;
  gap: 20px;
  padding-left: 80px;
  align-items: center;
  margin-top: 20px;

  @media (max-width: 900px) {
    padding-left: 20px;
    gap: 8px;
    margin-top: 10px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    border: 1px solid $dark-blue-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;

    @media(max-width: 900px) {
      width: 25px;
      height: 25px;

      svg {
        width: 4px;
        height: 6px;
      }
    }

    svg {
      path {
        stroke: $dark-blue-color;
      }
    }

    &__left {
      transform: rotate(180deg);
    }

    &__disabled {
      border: 1px solid #42567A80;
      cursor: default;

      svg {
        path {
          stroke: #42567A80;
        }
      }
    }

    &:not(&__disabled):hover {
      background-color: #fff;
    }
  }
}