@import '../../../styles/variables.scss';

.circle__wrapper {
  position: relative;

  @media (max-width: 900px) {
    display: none;
  }
}

.circle {
  position: relative;
  width: 536px;
  height: 530px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #42567A33;
  overflow: visible;
  z-index: 2;
  transition: transform 0.8s ease-in-out;
  transform-origin: 50% 50%;
  margin-top: 36px;
}

.point {
  position: absolute;
  background: $dark-blue-color;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 6px;
  height: 6px;
  background: $dark-blue-color;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: -1;
  }

  &__order {
    display: none;
  }

  &:not(.point__active):hover {
    width: 56px !important;
    height: 56px !important;
    background: $light-grey-color;
    border: 1px solid #303E5880;
    left: calc(var(--x) - 28px + 3px) !important;
    top: calc(var(--y) - 28px + 3px) !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .point__order {
      display: inline;
    }
}

  &__active {
    width: 56px;
    height: 56px;
    background: $light-grey-color;
    border: 1px solid #303E5880;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $dark-blue-color;

    .point__order {
      display: inline;
    }

    &_title {
      font-weight: bold;
      font-size: 20px;
      color: $dark-blue-color;
    }
  }
}

.title__animated {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 18px;
  color: $dark-blue-color;
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 1.7s ease forwards;

  @media (max-width: 1440px) {
    left: 855px !important;
  }

  @media (max-width: 1200px) {
    left: 700px !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}